<div>
  <div class="form">
    <h4>Add product details</h4>
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="title">Product SKU</label>
        <input
          type="text"
          class="form-control"
          id="title"
          required
          [(ngModel)]="product.productSKU"
          name="title"
        />
      </div>

      <div class="form-group">
        <label for="description">Product name</label>
        <input
          class="form-control"
          id="description"
          required
          [(ngModel)]="product.productName"
          name="description"
        />
      </div>

      <div class="form-group">
        <label for="description">Product price</label>
        <input
          class="form-control"
          id="description"
          required
          [(ngModel)]="product.productPrice"
          name="description"
        />
      </div>
      <div class="form-group">
        <label><strong>Description:</strong></label>
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s. Lorem Ipsum has been the industry's standard dummy
          text ever since the 1500s.
        </p>
      </div>
      <div class="clearfix">
        <button (click)="saveNewProduct()" class="btn btn-primary float-right">
          Submit
        </button>
        <button
          (click)="showListPage('cancel')"
          class="btn btn-secondary float-right mr-2"
        >
          Cancel
        </button>
      </div>
    </div>
    <div *ngIf="submitted">
      <h4>Product details was submitted successfully!</h4>
      <button class="btn btn-success" (click)="addNewProduct()">Add</button>
    </div>
  </div>
</div>
