<div class="custom-theme">
  <div class="container-fluid bg-dark">
    <div class="container">
      <nav class="navbar navbar-expand navbar-dark pb-3 ml-0 pl-0">
        <a href="#" class="navbar-brand logo"></a>
        <div class="navbar-nav mr-auto">
          <li class="nav-item">
            <a routerLink="products" class="nav-link">Product Management</a>
          </li>
        </div>
      </nav>
    </div>
  </div>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>
