<h3 class="mt-1 mb-3">Products</h3>
<div class="row">
  <div class="col-md-8">
    <div class="input-group mb-3">
      <select (change)="onChange($event)">
        <option *ngFor="let options of searchOptions" value="{{ options.keyField }}">
          {{ options.displayField }}
        </option>
      </select>
      <input type="text" class="form-control" placeholder="{{ placeholderText }}" [(ngModel)]="title" />
      <div class="input-group-append">
        <button class="btn btn-sm btn-secondary" type="button" (click)="searchProduct('search')">
          Search
        </button>
        <button class="btn btn-sm btn-light float-right" type="button" (click)="showActiveRecords()">
          Show active
        </button>
        <button class="btn btn-sm btn-light float-right" type="button" (click)="showInActiveRecords()">
          Show inactive
        </button>
        <button class="btn btn-sm btn-light" type="button" (click)="resetSearchProduct()">
          Reset
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="clearfix">
      <button class="mx-2 btn btn-sm btn-primary float-right" (click)="addNewProduct()" *ngIf="mode === ''">
        Add new
      </button>
      <button class="mx-2 btn btn-sm btn-secondary float-right" (click)="showImportPage()" *ngIf="mode === ''">
        Import
      </button>
      <button class="mx-2 btn btn-sm btn-light float-right" (click)="removeAllProductDetails()" *ngIf="mode === ''">
        Remove all
      </button>
    </div>
  </div>
</div>
<hr />
<div class="row">
  <div class="col-md-12"> <!-- [ngClass]="customWidth()" -->
    <div class="table-fixed">
      <table class="table mt-2">
        <thead>
          <tr>
            <th scope="col">Product SKU</th>
            <th scope="col">Product name</th>
            <th scope="col">Product price</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let productDetail of productDetails; let i = index" [class.active]="i == currentIndex"
            (click)="setActiveProduct(productDetail, i)">
            <td>{{ productDetail.productSKU }}</td>
            <td>{{ productDetail.productName }}</td>
            <td>{{ productDetail.productPrice }}</td>
            <td>{{ productDetail.status ? "Active" : "InActive" }}</td>
          </tr>
          <tr>
            <td colspan="4" *ngIf="productDetails && productDetails.length === 0">
              No products found
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!-- <div class="col-md-5 pr-0">
    <div *ngIf="mode === 'details'" class="border-left">
      <app-product-details></app-product-details>
    </div>
    <div *ngIf="mode === 'add'" class="border-left">
      <app-maintain-product-details></app-maintain-product-details>
    </div>
    <div *ngIf="mode === 'import'" class="border-left">
      <app-import-product-details></app-import-product-details>
    </div>
  </div> -->
</div>